* {
	box-sizing: border-box;
}

body {
	background-color: skyblue;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 90vh;
}

.form_auth_block_content {
    border: 2px solid;
	border-radius: 6px;
	background-size: 100% 100%;
	font-family: sans-serif;
	padding: 1rem;
	box-shadow: 0 0 10px 3px rgba(100, 100, 100, 100);
}

.form_auth_block_head_text {
    text-align: center;
}