* {
	box-sizing: border-box;
	margin: 0;
  	padding: 0;
}

body {
	background-color: rgb(255, 255, 255);
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 90vh;
} 

.nav-bar {
	position: fixed;
	top: 0;
	width: 100%
}

.nav-bar li {
	float: right;
}

.nav-bar li a {
	display: block;
	color: rgb(255, 255, 255);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.nav-bar li a:hover {
	background-color: #08a100;
}

.nav-bar ul {
	list-style-type: none;
	overflow: hidden;
    background-color: #333;
}

.nav-bar .center-li {
    float: left;
    display: block;
	color: rgb(255, 255, 255);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

form ul {
    display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
    list-style-type: none;
}

form ul input{
    margin-top: 20px;
}

